<script>
    import { onMount } from 'svelte';
    import { getVehiculo} from '../../api/api';

    export let title = '';
	export let onClose= () => {isDeleteModalOpen = false;};
	export let modalContent = '';
	let vehiculo = {};
    onMount(async () => {
        try {
            const responseVehiculo = await getVehiculo(5);
            vehiculo = responseVehiculo.Vehiculo; 
			console.log(vehiculo)
        } catch (error) {
            console.error("Error fetching data:", error.message);
        }
    });
	


</script>

<div class="fixed inset-0 flex items-center justify-center">
    <dialog class="modal z-99 bg-white w-2/3" open>
        <form method="dialog" class="w-full modal-box p-5">
            <h3 class="font-bold text-xl text-emerald-500">{title}</h3>
            <form method="POST" action="" class="flex flex-col py-5">
                {#if modalContent !== null}
                    <div class="flex flex-col justify-center items-center">
                    {#if modalContent === "vehiculo"}
						<div class="w-full flex items-center justify-center">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-16 h-16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
								<path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
							</svg>
						</div>
						<label class="mb-4 text-lg text-justify text-left">¿Estas seguro de que deseas eliminar <span class="font-bold">{vehiculo.tipo__nombre} {vehiculo.marca__nombre} {vehiculo.modelo__nombre} con numero de serie {vehiculo.numSerie}</span>? Esta acción es permanente</label>
						<div class="col-span-2 w-1/3 flex justify-center items-center">
							<button on:click={() => {onClose();}} class="w-1/2 flex justify-center py-2 px-5 border border-transparent rounded-md shadow-sm text-sm font-medium bg-slate-800 text-white">Cancelar</button>
							<button type="submit" class="w-1/2 flex justify-center py-2 px-5 border border-transparent rounded-md shadow-sm text-sm font-medium bg-emerald-500">Guardar</button>
						</div>
                    {/if}
                    </div>
                {/if}
            </form>
        </form>
    </dialog>
</div>