<script>
    import { DatePicker } from 'date-picker-svelte';
    export let id = '';
    export let classes = '';
    export let bind;
   
    let fecha = '';
    let showPicker = false;
    let inputValue = '';
   
    function handleChange() {
    let parts = fecha.split('-');
   
    if (parts.length === 3) {
    let dia = parts[0];
    let mes = parts[1];
    let anio = parts[2];
   
    if (dia.length === 2 && mes.length === 2 && anio.length === 4) {
      fecha = dia + '-' + mes + '-' + anio;
    } else {
      fecha = '';
      alert('Por favor, introduce la fecha en el formato DD-MM-YYYY');
    }
    } else {
    fecha = '';
    alert('Por favor, introduce la fecha en el formato DD-MM-YYYY');
    }
   
    bind = fecha;
    }
   
    function handleFocus() {
    showPicker = true;
    }
   
    function handleBlur() {
    showPicker = false;
    }
   
    function handleInput(event) {
    let value = event.target.value;
    value = value.replace(/[^0-9]/g, ''); // Remove any non-numeric characters
    if (value.length === 2) {
    value += '-';
    } else if (value.length === 5) {
    value += '-';
    }
    inputValue = value;
    }
   
    $: fecha = inputValue; // Update the 'fecha' variable whenever 'inputValue' changes
   </script>
   
   <input {id} {classes} type="text" placeholder="DD-MM-YYYY" bind:value={inputValue} on:change={handleChange} on:focus={handleFocus} on:blur={handleBlur} on:input={handleInput}>
   {#if showPicker}
    <DatePicker bind:value={fecha} />
   {/if}
   