{% extends 'base/base.html' %}

{% block title %}Delete Vehiculo View{% endblock title %}

{% block content %}
<div class="px-4 md:px-10 mx-auto w-full -m-24">
  <div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
      >
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <form action="" method="post" >
            {% csrf_token %}
            <h1 class="text-red-500 text-center text-xl" style="margin: 1rem 0;">Advertencia</h2>
            <p class="text-center px-2 py-5">¿Realmente deseas eliminar el vehiculo con numero de serie {{ object.numSerie }}?</p>
            <div class="w-full flex justify-center items-center" style="margin: 2rem 0 ;">
              <div class="rounded-xl p-4 bg-emerald-500 ">
                <a href="{% url 'home:vehiculoindex' %}" class=" text-white ">Cancel</a>
              </div>
              <div class="rounded-xl p-4 bg-red-500" style="margin: 0 2rem;">
                <button type="submit" class="text-white">Eliminar</a></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}