{% extends 'base/base.html' %} 
{% block title %}Marcas{% endblock title %}
{%block header%}

<div class="relative bg-emerald-500 md:pt-32 pb-32 pt-12">

  <div class="px-4 md:px-10 mx-auto w-full ">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
          >
            <div class="flex-auto p-4">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                  <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                    Traffic
                  </h5>
                  <span class="font-semibold text-xl text-blueGray-700">
                    350,897
                  </span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-red-500"
                  >
                    <i class="far fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-blueGray-400 mt-4">
                <span class="text-emerald-500 mr-2">
                  <i class="fas fa-arrow-up"></i> 3.48%
                </span>
                <span class="whitespace-nowrap"> Since last month </span>
              </p>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
          >
            <div class="flex-auto p-4">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                  <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                    New users
                  </h5>
                  <span class="font-semibold text-xl text-blueGray-700">
                    2,356
                  </span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-orange-500"
                  >
                    <i class="fas fa-chart-pie"></i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-blueGray-400 mt-4">
                <span class="text-red-500 mr-2">
                  <i class="fas fa-arrow-down"></i> 3.48%
                </span>
                <span class="whitespace-nowrap"> Since last week </span>
              </p>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
          >
            <div class="flex-auto p-4">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                  <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                    Sales
                  </h5>
                  <span class="font-semibold text-xl text-blueGray-700">
                    924
                  </span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-pink-500"
                  >
                    <i class="fas fa-users"></i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-blueGray-400 mt-4">
                <span class="text-orange-500 mr-2">
                  <i class="fas fa-arrow-down"></i> 1.10%
                </span>
                <span class="whitespace-nowrap"> Since yesterday </span>
              </p>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg"
          >
            <div class="flex-auto p-4">
              <div class="flex flex-wrap">
                <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                  <h5 class="text-blueGray-400 uppercase font-bold text-xs">
                    Performance
                  </h5>
                  <span class="font-semibold text-xl text-blueGray-700">
                    49,65%
                  </span>
                </div>
                <div class="relative w-auto pl-4 flex-initial">
                  <div
                    class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-lightBlue-500"
                  >
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="text-sm text-blueGray-400 mt-4">
                <span class="text-emerald-500 mr-2">
                  <i class="fas fa-arrow-up"></i> 12%
                </span>
                <span class="whitespace-nowrap"> Since last month </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{%endblock header%}
{%block content%}
<div class="px-4 md:px-10 mx-auto w-full -m-24">
  <div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
      >
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div class="flex flex-wrap items-center">
            <div
              class="relative w-full px-4 max-w-full flex-grow flex-1"
            >
              <h3 class="font-semibold text-lg text-blueGray-700">
                Marcas
              </h3>
            </div>
          </div>
        </div>
        <!--table-->
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left text-gray-500 ">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                  <tr>
                      <th scope="col" class="px-6 py-3">
                          Marca
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Automovil
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Acciones
                    </th>
                  </tr>
              </thead>
              <tbody>
                {% for marcavehiculo in marcavehiculo %}
                  <tr class="bg-white border-b">
                      <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        {{ marcavehiculo.nombre }}
                      </th>
                      <td class="px-6 py-4">
                        {{ marcavehiculo.vehiculo.numSerie }}
                      </td>
                      <td class="px-6 py-4">
                        <button type="button" class="focus:outline-none bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"><a href="{% url 'home:update_marcavehiculo' marcavehiculo.num %}">Editar</a></button>
                        <button type="button" class="focus:outline-none bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"><a href="{% url 'home:delete_marcavehiculo' marcavehiculo.num %}" >Eliminar</a></button>                 
                      </td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
        <div class="rounded-xl p-4 text-center hover:underline" style="margin: 0 2rem;">
          <a href="{% url 'home:new_marcavehiculo' %}">Agregar</a>
        </div>
    </div>
  </div>
</div>                
{%endblock content%}

