{% extends 'base/base.html' %} 
{% block title %}Modelos{% endblock title %}
{%block content%}
<div class="px-4 md:px-10 mx-auto w-full -m-24">
  <div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
      >
        <div class="rounded-t mb-0 px-4 py-3 border-0">
          <div class="flex flex-wrap items-center">
            <div
              class="relative w-full px-4 max-w-full flex-grow flex-1"
            >
              <h3 class="font-semibold text-lg text-blueGray-700">
                Modelos
              </h3>
            </div>
          </div>
        </div>
        <!--table-->
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
          <table class="w-full text-sm text-left text-gray-500 ">
              <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                  <tr>
                    
                      <th scope="col" class="px-6 py-3">
                          Modelo
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Automovil
                      </th>
                      <th scope="col" class="px-6 py-3">
                          Acciones
                    </th>
                    <th scope="col" class="px-6 py-3 invisible" style="opacity:0;">
                      Num
                    </th>  
                  </tr>
              </thead>
              <tbody>
                  {% for modelovehiculo in modelovehiculo %}
                  <tr class="bg-white border-b">
                      <td scope="row" class=" px-6 py-4 font-medium text-gray-900 whitespace-nowrap" >
                          {{ modelovehiculo.nombre }}
                      </td>
                      <td class="px-6 py-4">
                          {{ modelovehiculo.vehiculo.numSerie }}
                      </td>
                      <td class="px-6 py-4">
                          <a href="{% url 'home:update_modelovehiculo' modelovehiculo.num %}" class=" ">Actualizar </a>
                          <a href="{% url 'home:delete_modelovehiculo' modelovehiculo.num %}" class="">Eliminar</a>
                      </td>
                      <td style="opacity:0;" class="invisible">{{ modelovehiculo.num }}</td>

                  </tr>
                  {% endfor %}

              </tbody>
          </table>
        </div>
      </div>
      <div class="rounded-xl p-4 text-center hover:underline" style="margin: 0 2rem;">
        <a href="{% url 'home:new_modelovehiculo' %}">Agregar</a>
      </div>
    </div>
  </div>
</div>                
{%endblock content%}

