{% extends 'base/base.html' %}

{% block title %}New Modelo View{% endblock title %}

{% block content %}
<div class="px-4 md:px-10 mx-auto w-full -m-24">
  <div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
      >
      <div class="rounded-t mb-0 px-4 py-3 border-0">
        <form action="" method="post">
          <div class="w-full flex flex-col">
              <div class="flex w-full justify-around">
                {% csrf_token %}
                <div class="">
                  {{ form.nombre.label_tag }}
                  {{ form.nombre }}
                </div>
                <div class="">
                  {{ form.vehiculo.label_tag }}
                  {{ form.vehiculo }}
                </div>
              </div>
              <div class="w-full flex justify-center items-center" style="margin: 2rem 0 ;">
                <div class="rounded-xl p-4 bg-emerald-500 ">
                  <a href="{% url 'home:modelovehiculoindex' %}" class="btn btn-outline-info">Cancel</a>

                </div>
                <div class="rounded-xl p-4 bg-red-500" style="margin: 0 2rem;">
                  <button type="submit" class="btn btn-outline-warning">Agregar</button>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}