{% extends 'base/base.html' %}

{% block title %}Update Modelo View{% endblock title %}

{% block content %}
<div class="px-4 md:px-10 mx-auto w-full -m-24">
  <div class="flex flex-wrap mt-4">
    <div class="w-full mb-12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-white"
      >
      <form action="" method="post">

        <div style="display: flex; flex-wrap: wrap; justify-content: space-between; pading: 0 1rem;">
          
          <div style="flex: 1; width: 40%;" class="p-4">
              {% csrf_token %}

              <!-- Primer grupo de campos en la primera columna -->
              {{ form.nombre.label_tag }}
              {{ form.nombre }}
              
              {{ form.consumoCombustible.label_tag }}
              {{ form.consumoCombustible }}

              {{ form.cantCarga.label_tag }}
              {{ form.cantCarga }}

          </div>
          
          <div style="flex: 1; width: 40%;" class="p-4">
              <!-- Segundo grupo de campos en la segunda columna -->
              {{ form.capPasajeros.label_tag }}
              {{ form.capPasajeros}}
              
              {{ form.vehiculo.label_tag }}
              {{ form.vehiculo }}
          </div>
        </div>
        <div class="w-full flex justify-center items-center" style="margin: 2rem 0 ;">
          <div class="rounded-xl p-4 bg-emerald-500 ">
            <a href="{% url 'home:modelovehiculoindex' %}" class=" text-white ">Cancel</a>
          </div>
          <div class="rounded-xl p-4 bg-red-500" style="margin: 0 2rem;">
            <button type="submit" class="text-white">Actualizar</a></button>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}