<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WayneDev - About Mí</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #fff, #ddd); /* Degradado blanco a gris */
            color: #333;
            margin: 0;
            padding: 0;
        }

        header {
            background: linear-gradient(to bottom, #000, #333); /* Degradado negro a gris oscuro */
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            border-bottom: 2px solid #333;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-left: 20px;
        }

        nav ul li a {
            text-decoration: none;
            color: #fff;
        }

        section {
            padding: 40px;
            background: linear-gradient(to bottom, #fff, #eee); /* Degradado blanco a gris claro */
            color: #333;
        }

        h1, h2, h3 {
            color: #000;
        }

        img {
            max-width: 100%;
            height: auto;
        }

        footer {
            text-align: center;
            padding: 20px;
            background: linear-gradient(to bottom, #000, #333); /* Degradado negro a gris oscuro */
            color: #fff;
        }

        /* Estilos para los enlaces de proyectos */
        ul li a {
            text-decoration: none;
            color: #007bff; /* Azul */
        }

        ul li a:hover {
            text-decoration: underline;
        }

        /* Estilos para el menú de proyectos */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #333;
            min-width: 160px;
            z-index: 1;
        }

        .dropdown-content a {
            color: #fff;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #000;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Estilos para centrar la sección "About Mí" */
        .centered {
            text-align: center;
        }

        /* Estilos para la sección "Contáctame" al final */
        #contactame {
            background: linear-gradient(to bottom, #333, #000); /* Degradado gris oscuro a negro */
            color: #fff;
            padding: 40px;
        }
        
        /* Estilos para "WayneDev" */
        header h1 {
            color: #fff;
        }
    </style>
</head>
<body>
    <header>
        <h1>WayneDev</h1>
        <nav>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#sobre-mi">About Mí</a></li>
                <li class="dropdown">
                    <a href="#" class="dropbtn">Proyectos</a>
                    <div class="dropdown-content">
                        <a href="{% url 'home:databaseindex' %}">Base de Datos</a>
                        <a href="{% url 'home:paginav' %}">Pagina Web</a>
                        <a href="#proyecto-3">Proyecto 3</a>
                    </div>
                </li>
                <li><a href="#contactame">Contáctame</a></li>
            </ul>
        </nav>
    </header>

    <section id="inicio" class="section">
        <!-- Contenido de la sección "Inicio" -->
    </section>

    <section id="sobre-mi" class="section centered">
        <h2>Ponce Duarte Jose de Jesus</h2>
        <img src="https://media.licdn.com/dms/image/C5603AQFmWHN7hKxblQ/profile-displayphoto-shrink_200_200/0/1659770448607?e=1701302400&v=beta&t=Shkfhl-xpKTtcGgb8YNTowX7rm839zMUp9pdxcS2DxQ" alt="">
        <p>Hola, soy estudiante de Desarrollo de Software Multiplataforma, soy comprometido y autodidacta, además de que cuento con conocimientos en Java, MySQL, phpMyAdmin, HTML5 entre otras aptitudes.

            Cuando tengo un objetivo por delante lucho por lograrlo y completarlo, gracias a mi perseverancia y rápido aprendizaje. Me gusta liderar equipos además de aprender de ellos, así como a enseñar a los colaboradores de mi equipo la meta común "EL ÉXITO".</p>
    </section>

    <section id="proyecto-1" class="section">
        <!-- Contenido de la sección "Proyecto 1" -->
    </section>

    <section id="proyecto-2" class="section">
        <!-- Contenido de la sección "Proyecto 2" -->
    </section>

    <section id="proyecto-3" class="section">
        <!-- Contenido de la sección "Proyecto 3" -->
    </section>

    <section id="contactame" class="section">
        <h2>Contacto</h2>
        <ul>
            <li>Facebook: <a href="https://www.facebook.com/0YisusCry0">https://www.facebook.com/0YisusCry0</a></li>
            <li>Teléfono: +526632080121</li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/josepd/">https://www.linkedin.com/in/josepd/</a></li>
            <li>GitLab: <a href="https://gitlab.com/0322103790">https://gitlab.com/0322103790</a></li>
            <li>Discord: 1094058841404088330</li>
        </ul>
    </section>

    <footer
