<script>
  // core components
  import CardStats from "components/Cards/CardStats.svelte";
</script>
<!-- Header -->
<div class="relative bg-emerald-400 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div class="flex justify-center items-center w-full">

      <h1 style="color: #333;
        font-family: tahoma;
        font-size: 3rem;
        font-weight: 100;
        line-height: 1.5;
        text-transform: uppercase;
        white-space: nowrap;
        overflow: hidden;
        position: relative;
        width: 100%;">
        <span style="font-size: 40px; margin-left: 40px; width:30%;">Trek</span>
        <div style=" background-color: rgb(30, 41, 59);
          color: white;
          display: flex; <!-- Agregado: usar display flex -->
          justify-content: center; <!-- Agregado: centrar horizontalmente -->
          align-items: center; <!-- Agregado: centrar verticalmente -->
          font-weight: 900;
          overflow: hidden;
          position: absolute;
          padding-left: 0.5rem;
          top: 0.2rem;
          left: 150px;
          animation: openclose 6s ease-in-out infinite;">
          <div style="font-family: tahoma;">Traker</div>
        </div>
      </h1>

    </div>
  </div>
</div>



