<script>
  // core components
  import CardStats from "components/Cards/CardStats.svelte";
</script>

<!-- Header -->
<div class="relative bg-emerald-400 md:pt-32 pb-32 pt-12">
  <div class="px-4 md:px-10 mx-auto w-full">
    <div>
      <!-- Card stats -->
      <div class="flex flex-wrap">
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <CardStats
            statSubtitle="VEHICULOS"
            statTitle="34"
            statArrow="up"
            statPercent="34"
            statPercentColor="text-emerald-400 "
            statDescripiron="totales registrados"
            statIconName="far fa-chart-bar"
            statIconColor="bg-blue-950"
          />
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <CardStats
            statSubtitle="CONDUCTORES"
            statTitle="26"
            statArrow="down"
            statPercent="3.48"
            statPercentColor="text-emerald-400 "
            statDescripiron="TOTALES REGISTRADOS"
            statIconName="fas fa-chart-pie"
            statIconColor="bg-blue-950"
          />
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <CardStats
            statSubtitle="RUTAS COMPLETADAS"
            statTitle="12"
            statArrow="down"
            statPercent="1.10"
            statPercentColor="text-orange-500"
            statDescripiron="esta semana"
            statIconName="fas fa-users"
            statIconColor="bg-blue-950"
          />
        </div>
        <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
          <CardStats
            statSubtitle="POLIZAS DE SEGURO"
            statTitle="34"
            statArrow="up"
            statPercent="12"
            statPercentColor="text-emerald-400 "
            statDescripiron="actualmente vigentes"
            statIconName="fas fa-percent"
            statIconColor="bg-blue-950"
          />
        </div>
      </div>
    </div>
  </div>
</div>
