<script>
    import SearchTable from "../../components/Cards/SearchTable.svelte";
    export let location;

    let headers = ['marca', 'tipo', 'detalles']; 

    let items = [
      { marca: 'Nissan', tipo: 'Automovil', itemId: '1', detalles: 'Automovil de negocios' },
      { marca: 'Mustang', tipo: 'Automovil', itemId: '2', detalles: 'Automovil de negocios' },
      { marca: 'Dodge', tipo: 'Automovil', itemId: '3', detalles: 'Automovil de negocios' },
      { marca: 'Mercedes Benz', tipo:'Tractocamion', itemId: '4', detalles: 'Tractocamion de entregas' },
    ];
    let title = "Conductores"
    let placeholder="Ej. Jose, SUV"
    
  </script>
  
  <div class="w-full">
    <div class="flex flex-wrap mt-4 w-full">
      <div class="w-full mb-12 xl:mb-0 px-4">
        <SearchTable headers={headers} items={items} placeholder={placeholder} title={title}/>
      </div>
    </div>
  </div>
