<script>
  import SearchTable from "../../components/Cards/SearchTable.svelte";
  import { onMount } from "svelte";
  import { getSesionesMantenimiento} from "../../api/api.js";
  export let location;

  let items = [];
  let headers = [];
  let modalContent = "mantenimiento";
  let titleModal = "Editar sesión de mantenimiento";

  onMount(async () => {
    try {
      const response = await getSesionesMantenimiento();
      items = response.sesiones;
      headers = Object.keys(response.sesiones[0]);
      console.log(items);
      console.log(headers);
    } catch (error) {
      console.error("Error fetching data:", error.message);
    }
  });

  let title = "Sesiones de Mantenimiento";
  let placeholder = "Ej. Amortiguadores, Fixcartj";

  let headerMap = {
    numSerie: "No. Serie",
    fecha: "Fecha",
    kilometraje: 'Kilometraje',
    costoTotal: "Costo Total",
    descripcion: "Descripción",
    vehiculo__numSerie: 'Vehiculo',
    taller__nombre: "Taller"
    
  };

</script>

<div class="w-full">
  <div class="flex flex-wrap mt-4 w-full">
    <div class="w-full mb-12 xl:mb-0 px-4">
      <SearchTable
        {headers}
        {headerMap}
        {items}
        {placeholder}
        {title}
        {modalContent}
        {titleModal}
        formatCell={(header, value) => {
          if (header === 'kilometraje') {
            return `${value} km`;
          } else if (header === 'comentarios') {
            return value ? value : 'Sin comentarios';
          } else if (header === 'costoTotal') {
            return `${value} MXN`;
          } else {
            return value;
          }
        }}
      />
    </div>
  </div>
</div>
