<script>
  import SearchTable from "../../components/Cards/SearchTable.svelte";
  import { onMount } from "svelte";
  import { getReclamaciones } from "../../api/api.js";
  export let location;

  let items = [];
  let headers = [];
  let placeholder="";
  let modalContent="reclamacion"
  let titleModal="Editar Reclamacion"
  onMount(async () => {
    try {
      const response= await getReclamaciones();
      items = response.reclamaciones;
      headers = Object.keys(response.reclamaciones[0]);
    } catch (error) {
      console.error("Error fetching data:", error.message);
    }
  });

  let headerMap= {
    num: 'Numero',
    fecha: "Fecha",
    descripcionIncidente: "Lesion",
    montoReclamo: "Monto",
    numPoliza__numPoliza: 'Póliza'
  };
  
</script>

<div class="w-full">
  <div class="flex flex-wrap mt-4 w-full">
    <div class="w-full mb-12 xl:mb-0 px-4">
      <SearchTable
        headers={headers}
        items={items}
        placeholder={placeholder}
        headerMap={headerMap}
        title="Reclamaciones"
        {modalContent}
        {titleModal}
        formatCell={(header, value) => {
          if (header === 'montoReclamo') {
            return `${value} MXN`;
          } else {
            return value;
          }
        }}
      />
    </div>
  </div>
</div>
