{% extends 'base/dbv.html' %}
{% block title %} Alumnos {% endblock title %}

{% block content %}
    <a href="{% url 'home:new_alumno' %}" class="btn btn-outline-info">Nuevo Alumno</a>
    
    <table class="table table-striped">
        <thead>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>ApellidoPaterno</th>
            <th>ApellidoMaterno</th>
            <th>Telefono</th>
            <th>ACTIONS</th>
        </thead>
        <tbody>
            {% for alumno in alumnos %}
                <tr>
                    <td>{{ alumno.matricula }}</td>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellidoP }}</td>
                    <td>{{ alumno.apellidoM }}</td>
                    <td>{{ alumno.telefono }}</td>
                    <td><a href="{% url 'home:detail_alumno' alumno.matricula %}" class="btn btn-outline-info">Detail</a></td>
                    <td><a href="{% url 'home:delete_alumno' alumno.matricula %}" class="btn btn-outline-danger">Delete</a></td>
                    <td><a href="{% url 'home:update_alumno' alumno.matricula %}" class="btn btn-outline-warning">Update</a></td>
                </tr>    
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
