{% extends 'base/dbv.html' %}

{% block title %}Delete Category View{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Realmente deseas Eliminar esta categoria: {{ object }}?
        <a href="{% url 'home:databaseindex' %}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
{% endblock content %}
