{% extends 'base/dbv.html' %}

{% block title %}Borrar Alumno{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        ¿Realmente deseas eliminar al alumno?: {{ object }}?
        <a href="{% url 'home:alumnoindex' %}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-outline-danger">Delete</button>
    </form>
{% endblock content %}
