{% extends 'base/dbv.html' %}
{% block title %}Detalles del Alumno{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ alumno.nombre }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          El alumno fue creado por: <strong>{{ category.user }}</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the The status category is: <strong><code>{{ category.status }}</code></strong>, though the transition does limit overflow. <a href="{% url 'home:alumnoindex' %}" class="btn btn-link">back to index</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}