{% extends 'base/dbv.html' %}

{% block title %}Actualizar Alumno{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <a href="{% url 'home:alumnoindex' %}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-outline-warning">Actualizar</button>
    </form>
{% endblock content %}