{% extends 'base/dbv.html' %}

{% block title %}Update CAtegroy View{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <a href="{% url 'home:databaseindex' %}" class="btn btn-outline-info">Cancel</a>
        <button type="submit" class="btn btn-outline-warning">Update</button>
    </form>
{% endblock content %}