{% extends 'base/equipoindex.html' %}

{% block content %}
  <h2>Equipos y estadios</h2>
  <ul>
  {% for equipo in teams %}
    <li>{{ equipo.name }} juega en {{ equipo.stadium.name }}</li>
  {% empty %}
    <li>No hay equipos registrados.</li>
  {% endfor %}
  </ul>
{% endblock %}
