<!-- App.svelte -->
<script>
  import { Router, Route } from "svelte-routing";

  // Admin Layout
  import Admin from "./layouts/Admin.svelte";
  // Auth Layout
  import Auth from "./layouts/Auth.svelte";

  // No Layout Pages
  import Index from "./views/Index.svelte";
  import Landing from "./views/Landing.svelte";
  import Profile from "./views/Profile.svelte";
  import Vehiculos from "./views/admin/Vehiculos.svelte";
  import MarcasModelos from "./views/admin/MarcasModelos.svelte";
  import Documentos from "./views/admin/Documentos.svelte";
  import CargasCombustible from "./views/admin/CargasCombustible.svelte";
  import Mantenimiento from "./views/admin/Mantenimiento.svelte";

  import Conductores from "./views/admin/Conductores.svelte";
  import Infracciones from "./views/admin/Infracciones.svelte";
  import Licencias from "./views/admin/Licencias.svelte";

  import Rutas from "./views/admin/Rutas.svelte";
  import Aseguranzas from "./views/admin/Aseguranzas.svelte";
  import Reclamaciones from "./views/admin/Reclamaciones.svelte";

  export let url = "";
</script>

<Router url="{url}">

  <!-- admin layout -->
  <Route path="admin/*admin" component="{Admin}" />
  <Route path="admin/*admin" component="{Vehiculos}" />
  <Route path="admin/*admin" component="{MarcasModelos}" />
  <Route path="admin/*admin" component="{Documentos}" />
  <Route path="admin/*admin" component="{CargasCombustible}" />
  <Route path="admin/*admin" component="{Mantenimiento}" />

  <Route path="admin/*admin" component="{Conductores}" />
  <Route path="admin/*admin" component="{Infracciones}" />
  <Route path="admin/*admin" component="{Licencias}" />

  <Route path="admin/*admin" component="{Rutas}" />

  <Route path="admin/*admin" component="{Aseguranzas}" />
  <Route path="admin/*admin" component="{Reclamaciones}" />

  <!-- auth layout -->
  <Route path="auth/*auth" component="{Auth}" />



  <!-- no layout pages -->
  <Route path="landing" component="{Landing}" />
  <Route path="profile" component="{Profile}" />
  <Route path="/" component="{Index}" />
</Router>
