<script>
    import { onMount } from 'svelte';
    import {getVehiculo, deleteVehiculo, deleteMarca, deleteModelo, getMarca, getModelo, getCargaCombustible, deleteCargaCombustible} from '../../api/api';

    export let title = '';
	export let onClose;
	export let modalContent = '';
    export let id;

	let vehiculo = [];
	let marca = [];
    let modelo=[];
    let carga=[];

    
    onMount(async () => {
        console.log(modalContent)
        if (modalContent==="vehiculo"){
            console.log(id);
            try {
                const responseVehiculo = await getVehiculo(id);
                vehiculo = responseVehiculo.Vehiculo; 
                console.log(vehiculo)
            } catch (error) {
                console.error("Error fetching data:", error.message);
            }
        } else if (modalContent==="marca"){
            console.log({idmarca: id});
            try {
                const responseMarca= await getMarca(id);
                marca = responseMarca.MarcaVehiculo 
                console.log(marca)

            } catch (error) {
                console.error("Error fetching data:", error.message);
            }
        } else if (modalContent==="modelo"){
                const responseVehiculo = await getModelo(id);
                modelo = responseVehiculo.ModeloVehiculo
                console.log(modelo)
        } else if (modalContent==="cargacombustible"){ 
            console.log({id:id});
            const response = await getCargaCombustible(id)
            carga = response.carga_combustible
            console.log({carga:carga})
        }
    });
	
    const handleSubmit = async () => {
        if (modalContent==="marca"){
            try {
            await deleteMarca(id);
                alert('Marca eliminada correctamente');
                location.reload();
            } catch (error) {
                alert('Hubo un error al eliminar la marca: ' + error.message);
            }
        } else if (modalContent==="vehiculo"){

            try {
            await deleteVehiculo(id)
                alert('Vehiculo eliminado correctamente');
                location.reload();

            } catch (error) {
                alert('Hubo un error al eliminar el vehiculo: ' + error.message);
                location.reload();

            }

        } else if (modalContent==="modelo"){
            try {
            await deleteModelo(id);
                alert('Modelo eliminada correctamente');
                location.reload();
            } catch (error) {
                alert('Hubo un error al eliminar el modelo: ' + error.message);
            }
        } else if (modalContent==="documento"){
        } else if (modalContent==="cargacombustible"){
            console.log(carga);
            try {
            await deleteCargaCombustible(id);
                location.reload();
                alert('Carga de combustible eliminada correctamente');
                console.log("Hola")
            } catch (error) {
                alert('Hubo un error al eliminar la carga de combustible: ' + error.message);
            }
        } else if (modalContent==="mantenimiento"){
        } else if (modalContent==="infraccion"){
        } else if (modalContent==="ruta"){
        } else if (modalContent==="aseguradora"){
        } else if (modalContent==="poliza"){
        } else if (modalContent==="reclamacion"){
        }
    };

</script>

<div class="fixed inset-0 flex items-center justify-center">
    <dialog class="modal z-99 bg-white w-2/3" open>
        <form on:submit|preventDefault={handleSubmit} method="dialog" class="w-full modal-box p-5">
            <h3 class="font-bold text-xl text-emerald-500">Advertencia</h3>
            {#if modalContent !== null}
                <div class="flex flex-col justify-center items-center">
                   <div class="w-full flex items-center justify-center">
                       <svg xmlns="http://www.w3.org/2000/svg" class="w-16 h-16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                           <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
                       </svg>
                   </div>
                        {#if modalContent === "vehiculo"}
                            <label class="mb-4 text-lg text-justify text-left">¿Estas seguro de que deseas eliminar el vehiculo <span class="font-bold">{vehiculo.tipo__nombre} {vehiculo.marca__nombre} {vehiculo.modelo__nombre} con numero de serie {id}</span>? Esta acción es permanente</label>
                        {:else if modalContent === "marca"}
                            <label class="mb-4 text-lg text-justify text-left">¿Estas seguro de que deseas eliminar la marca <span class="font-bold">{marca.nombre}</span>? Esta acción es permanente</label>
                        {:else if modalContent === "modelo"}
                        <label class="mb-4 text-lg text-justify text-left">¿Estas seguro de que deseas eliminar el modelo <span class="font-bold">{modelo.nombre}</span>? Esta acción es permanente</label>
                        {:else if modalContent === "cargacombustible"}
                        <label class="mb-4 text-lg text-justify text-left">¿Estas seguro de que deseas eliminar la carga de combustible con folio <span class="font-bold">{carga.numFolio}</span>? Esta acción es permanente</label>
                        {/if}
                   <div class="col-span-2 w-1/3 flex justify-center items-center">
                       <button on:click={() => {onClose();}} class="w-1/2 flex justify-center py-2 px-5 border border-transparent rounded-md shadow-sm text-sm font-medium bg-slate-800 text-white">Cancelar</button>
                       <button type="submit" class="w-1/2 flex justify-center py-2 px-5 border border-transparent rounded-md shadow-sm text-sm font-medium bg-emerald-500">Eliminar</button>
                   </div>
                </div>
            {/if}
        </form>
    </dialog>
 </div>
 