<!-- Modal.svelte -->
<script >
	export let title= '';
	export let onClose = () =>{};
	export let modalContent = '';
	export let formAction=" ";
</script>

<!--<dialog class="modal" open>
	<form method="dialog" class="w-full modal-box md:w-1/4 max-w-5xl">
		<h3 class="font-bold text-lg">{title}</h3>
		<form method="POST" action={formAction} class="flex flex-col py-3">
			{#if modalContent !== null}
				<div class="modal-inner">
					{#if modalContent === "categories"}
						<label class="mb-4 text-sm">Nombre de la nueva categoria</label>
						<input type="text" name="category_name" class="w-full input input-bordered input-primary" />
						<div class="modal-action">
							<button type="submit" class="btn" on:click={onClose}>Cancelar</button>
							<button type="submit" class="btn bg-yellow-400" on:click={onAccept}>Aceptar</button>
						</div>
					{/if}
					{#if modalContent === "products"}
						<label class="mb-1 text-sm">SKU</label>
						<input type="text" name="sku" class="mb-3 w-full input input-bordered input-primary" />
						<label class="mb-1 text-sm">Nombre del producto</label>
						<input type="text" name="product_name" class="mb-3 w-full input input-bordered input-primary" />
						<label class="mb-1 text-sm">Categoria</label>
						<select name="category_id" class="font-normal font-lg select focus:outline focus:outline-yellow-400 border border-yellow-400 mb-3 w-full">
							<option disabled>Seleccione una categoria</option>
							{#each $catalogStore.categories as c}
								<option value={c.id}>{c.name}</option>
							{/each}
						</select>
						<label class="mb-1 text-sm">Precio</label>
						<input type="text" name="price" class="mb-3 w-full input input-bordered input-primary" />
						<label class="mb-1 text-sm">Existencia</label>
						<input type="text" name="stock" class="mb-3 w-full input input-bordered input-primary" />
						<div class="modal-action">
							<button type="submit" class="btn" on:click={onClose}>Cancelar</button>
							<button type="submit" class="btn bg-yellow-400" on:click={onAccept}>Aceptar</button>
						</div>
					{/if}
					{#if modalContent === "users"}
						<label class="mb-1 text-sm">Usuario</label>
						<input type="text" name="username" class="mb-3 w-full input input-bordered input-primary" />
						<label class="mb-1 text-sm">Nombre</label>
						<input type="text" name="first_name" class="mb-3 w-full input input-bordered input-primary" />
						<label class="mb-1 text-sm">Apellido</label>
						<input type="text" name="last_name" class="mb-3 w-full input input-bordered input-primary" />
						<label class="mb-1 text-sm">Celular</label>
						<input type="text" name="phone" class="mb-3 w-full input input-bordered input-primary" />
						<label class="mb-1 text-sm">Rol</label>
						<select name="role" class="font-normal font-lg select focus:outline focus:outline-yellow-400 border border-yellow-400 mb-3 w-full">
							<option disabled selected>Seleccione una categoria</option>
							<option value="USER">USER</option>
							<option value="MANAGER">MANAGER</option>
						</select>
						<label class="mb-1 text-sm">Contrasenia</label>
						<input type="text" name="password" class="mb-3 w-full input input-bordered input-primary" />
						<div class="modal-action">
							<button type="submit" class="btn" on:click={onClose}>Cancelar</button>
							<button type="submit" class="btn bg-yellow-400" on:click={onAccept}>Aceptar</button>
						</div>
					{/if}
				</div>
			{/if}
		</form>
	</form>
</dialog>-->